.blocks {
  -webkit-transform:rotate(30deg);
  transform-origin: 20% 40%;
  /*transform-origin:40% 80%;*/

}

.blocks > div {
	height:100px;
	width:100px;
	color:black;
	background-color:wheat;
  border: 1px solid black;
  padding-left:10px;
}

#one {
  -ms-transform:rotate(0deg) translate(0px); 
  -moz-transform:rotate(0deg) translate(0px);
  -webkit-transform:rotate(0deg) translate(250px, 200px);
  -o-transform:rotate(90deg) translate(0px);
}

#two {
  -ms-transform:rotate(90deg) translate(); 
  -moz-transform:rotate(90deg) translate();
  -webkit-transform:rotate(90deg) translate(200px, -150px);
  -o-transform:rotate(90deg) translate();
}

#three {
  -ms-transform:rotate(180deg) translate();
  -moz-transform:rotate(180deg) translate();
  -webkit-transform:rotate(180deg) translate(-50px, 0px);
  -o-transform:rotate(180deg) translate();
}

#four {
  -ms-transform:rotate(270deg) translate();
  -moz-transform:rotate(270deg) translate();
  -webkit-transform:rotate(270deg) translate(200px, 150px);
  -o-transform:rotate(270deg) translate();
}

