.blocks {
  -ms-transform:rotate(30deg); 
  -moz-transform:rotate(30deg);
  -webkit-transform:rotate(30deg);
  -o-transform:rotate(30deg);

  transform-origin: 20% 40%;
}

.blocks > div {
	height:100px;
	width:100px;
	color:black;
	background-color:wheat;
  border: 1px solid black;
  padding-left:10px;
}

#one {
  -ms-transform:translate(250px, 200px); 
  -moz-transform:translate(250px, 200px);
  -webkit-transform:translate(250px, 200px);
  -o-transform:translate(250px, 200px);
}

#two {
  -ms-transform:rotate(90deg) translate(200px, -150px); 
  -moz-transform:rotate(90deg) translate(200px, -150px);
  -webkit-transform:rotate(90deg) translate(200px, -150px);
  -o-transform:rotate(90deg) translate(200px, -150px);
}

#three {
  -ms-transform:rotate(180deg) translate(-50px);
  -moz-transform:rotate(180deg) translate(-50px);
  -webkit-transform:rotate(180deg) translate(-50px);
  -o-transform:rotate(180deg) translate(-50px);
}

#four {
  -ms-transform:rotate(270deg) translate(200px, 150px);
  -moz-transform:rotate(270deg) translate(200px, 150px);
  -webkit-transform:rotate(270deg) translate(200px, 150px);
  -o-transform:rotate(270deg) translate(200px, 150px);
}

